.Avada-SpeedCheck__Meter-Banner {
  position: relative;
}
.Avada-Circular__Progressbar {
  width: 100%;
  vertical-align: middle;
}
.Avada-SpeedCheck__Meter {
  width: 74px;
}
.Avada-CircularProgressbar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5B5B5B;
  font-size: 30px;
  font-weight: 600;
}

