.Avada__ChooseTheme-Button {
  width: 100%;
  padding: 3px 2px;
  border-radius: 8px;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}

.Avada__ChooseTheme-InnerWrapper {
  border-radius: 8px;
  border-width: 1px;
  width: 96%;
  height: 95%;
  padding: 7px 3px;
}
